In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv('data.csv')

In [195]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 16 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   order_id   185950 non-null  int64
 1   product    185950 non-null  object
 2   quantity   185950 non-null  int64
 3   price      185950 non-null  float64
 4   total      185950 non-null  float64
 5   full_date  185950 non-null  object
 6   hour       185950 non-null  int64
 7   date       185950 non-null  int64
 8   month      185950 non-null  int64
 9   year       185950 non-null  int64
 10  day        185950 non-null  object
 11  address    185950 non-null  object
 12  city       185950 non-null  object
 13  state      185950 non-null  object
 14  pincode    185950 non-null  int64
 15  timezone   185950 non-null  object
dtypes: float64(2), int64(7), object(7)
memory usage: 22.7+ MB

In [197]:
df['product'].unique()

array(['Wired Headphones', 'Bose SoundSport Headphones', 'iPhone',
       'AA Batteries (4-pack)', '34in Ultrawide Monitor', '20in Monitor',
       'Macbook Pro Laptop', 'LG Washing Machine', '27in FHD Monitor',
       'Lightning Charging Cable', 'Apple Airpods Headphones',
       'AAA Batteries (4-pack)', 'USB-C Charging Cable',
       '27in 4K Gaming Monitor', 'ThinkPad Laptop', 'Flatscreen TV',
       'Google Phone', 'Vareebadd Phone', 'LG Dryer'], dtype=object)

In [198]:
#Q1. What is the 4th highest product sold in terms of total revenue generated overall ?
df.sort_values("total", ascending=False).nlargest(4, 'total')

,order_id,product,quantity,price,total,full_date,hour,date,month,year,day,address,city,state,pincode,timezone
79936,181069,Macbook Pro Laptop,2,1700.0,3400.0,04/27/19,21,27,4,2019,Sat,668 Park St,San Francisco,CA,94016,PM
136888,200528,Macbook Pro Laptop,2,1700.0,3400.0,05/13/19,13,13,5,2019,Mon,643 4th St,Boston,MA,2215,PM
80436,181544,Macbook Pro Laptop,2,1700.0,3400.0,04/22/19,12,22,4,2019,Mon,731 11th St,New York City,NY,10001,AM
41785,210292,Macbook Pro Laptop,2,1700.0,3400.0,06/08/19,9,8,6,2019,Sat,953 Ridge St,San Francisco,CA,94016,AM

In [266]:
#Hence Macbook Pro is the 4th most sold product in the catergory

#Q2. Which City sees the maximum number of orders being placed in the month of June 2019
df_2 = df.loc[(df.month == 6) & (df.year == 2019)]
df_2.groupby(['city'])['quantity'].sum().idxmax()

city
Atlanta          1231
Austin            803
Boston           1614
Dallas           1188
Los Angeles      2452
New York City    1999
Portland         1081
San Francisco    3687
Seattle          1198
Name: quantity, dtype: int64

In [271]:
#San Francisco is the city that sees the maximum order being placed in June 2019.

#Q3. What is the least popular product in terms of unique orders in the city of Los Angeles.
df_3 = df.loc[(df.city == 'Los Angeles')]
df_3.groupby('product')['quantity'].nunique().idxmin()

'27in 4K Gaming Monitor'

In [278]:
#27in 4K Gaming Monitor is the least popular product in LA

#Q4. Which state has the highest revenue generated from all the apple products in year 2019?
df_4 = df.loc[(df.year == 2019)]
df_4 = df[(df['product'] == 'iPhone') | (df['product'] == 'Macbook Pro Laptop') | (df['product'] == 'Apple Airpods Headphones')]
df_4 = df_4.loc[(df.year == 2019)]
df_4.groupby(['state'])['total'].sum().idxmax()

'CA'

In [385]:
#Hence we can conclude that California is the state with highest revenue generated for apple products.

#Q5. What is the difference of revenue generated between weekend and weekday in the state of CA
df_5 = df.copy()
df_5_weekday = df_5[((df_5['day'] == 'Mon')| (df_5['day'] == 'Tue')| (df_5['day'] == 'Wed')| (df_5['day'] == 'Thu')| (df_5['day'] == 'Fri')) & (df_5['state'] == 'CA')]
df_5_weekend = df[((df['day'] == 'Sat')| (df['day'] == 'Sun')) & (df_5['state'] == 'CA')]
abs(df_5_weekday['total'].sum() - df_5_weekend['total'].sum())

5965406.970000001

In [399]:
#The revenue difference is $5.96M between weekday and weekend.

#Q6. Which city has seen the overall least orders in night hours in the months of May, June and July 2019.
df_6 = df.copy()
df_6 = df_6[(df_6['hour'] == 18) | (df_6['hour'] == 19) | (df_6['hour'] == 20) |(df_6['hour'] == 21) | (df_6['hour'] == 22) | (df_6['hour'] == 23) | (df_6['hour'] == 24)]
df_6 = df_6[((df_6['month'] ==  5 ) | (df_6['month'] == 5 ) | (df_6['month'] == 7)) & (df_6['year'] == 2019)]
df_6.groupby('city')['quantity'].sum().idxmin()

'Austin'

In [360]:
#Austin has the least amount of order during night hours of May, June & July

#Q7. Is “Google Phone” better performing in respect to overall number of orders placed as well as revenue generated than “iphone” in “New York City” ?

df_7 = df[(df['city'] == 'New York City')]
df_7_goo = df_7[(df['product'] == 'Google Phone') ]
df_7_app = df_7[(df['product'] == 'iPhone') ]
print('the number of sales of apple phone: ', df_7_app['quantity'].sum())
print('the number of sales of google phone: ',df_7_goo['quantity'].sum())

the number of sales of apple phone:  881
the number of sales of google phone:  758

C:\Users\Utsab\AppData\Local\Temp\ipykernel_33476\289047579.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_7_goo = df_7[(df['product'] == 'Google Phone') ]
C:\Users\Utsab\AppData\Local\Temp\ipykernel_33476\289047579.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_7_app = df_7[(df['product'] == 'iPhone') ]

In [ ]:
#thus we can see the apple phones performed better than google phones

In [361]:
#Q8. What is the absolute difference in total number of unique orders being created in the cities of “Boston” and “Portland” for the month of Jan in both years 2019 & 2020 ?
df_8_bost = df[(df['city'] == 'Boston' )]
df_8_bost = df_8_bost[(df['month'] == 1)]
df_8_port = df[(df['city'] == 'Portland' )]
df_8_port = df_8_port[(df['month'] == 1)]
df_8_bost = df_8_bost.groupby('product')['quantity'].nunique().sum()
df_8_port = df_8_port.groupby('product')['quantity'].nunique().sum()

abs(df_8_port- df_8_bost)

C:\Users\Utsab\AppData\Local\Temp\ipykernel_33476\4148680341.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_8_bost = df_8_bost[(df['month'] == 1)]
C:\Users\Utsab\AppData\Local\Temp\ipykernel_33476\4148680341.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_8_port = df_8_port[(df['month'] == 1)]

2